app-contain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  #h
  {
    background-color: white;
    height: 100px;
  }
  #t{
    padding-top: 25px;
    text-align: center;
    color:white;
  }